# Dados baixados e arquivos intermediários: são refeitos pelos scripts
trabalho/
sets.json
all_cards.json
cards/
ext/
img/
feat_*
unit_rep.json
cardback_units.json
limitless_todo.json
limitless_jobs.json
*.pkl
*.log
__pycache__/
*.pyc
